# Python
__pycache__/
*.py[cod]
*.so
*.zip
*.sh

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Build
build/
dist/
*.egg-info/